<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main role="main">

    <section class="jumbotron text-left">
        <div class>
            <form action="" method="post">
                <label>Group name</label>
                <input name="project_name" placeholder=" group name">
                <button type="submit">Add Group</button>
            </form>
            <form th:action="@{'/toggle/' + ${oneProject.id} + '/add'}" method="post">
                <label>Toggle name</label>
                <input name="toggle_name" placeholder=" toggle name">
                <button type="submit">Add Toggle</button>
            </form>
        </div>
    </section>

    <span>
        <a href="/">Main projects/</a>
            <span th:each="el : ${allProjects}" th:if="${el.id == oneProject.parent_id}">
                <span th:each="index : ${oneProject.getFullUrl(oneProject.getPath())}">
                    <span th:each="elem : ${allProjects}">
                        <a th:if="${index == elem.id}"
                           th:href="'/project/' + ${elem.parent_id}"
                           th:text="${elem} + '/'"></a>
                    </span>
                </span>
            </span>
    </span>

    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th class="text-center" th:text="${oneProject}"></th>
                <th class="text-left">Actions</th>
            </tr>
            </thead>
            <tbody>
                <div>
                    <tr th:each="elem : ${oneProject.projects}">
                        <td class="text-center">
                            <a th:href="'/project/' + ${elem.id}" type="button" class="btn btn-warning">
                                <i style="" class="fas fa-folder">
                                    <div th:text="${elem}"></div>
                                </i>
                            </a>
                        </td>
                        <td class="text-center">
                            <div style="float: left">
                                <button type="button" class="btn btn-primary">
                                    <i class="fas fa-edit" style="vertical-align:top">
                                        Edit
                                    </i>
                                </button>
                            </div>
                            <div style="float: left">
                                <form th:action="'/project/' + ${elem.parent_id} + '/remove' + ${elem.id}" method="post">
                                    <button type="submit" class="btn btn-danger">
                                        <i class="fas fa-trash-alt" style="vertical-align:top">
                                            Delete
                                        </i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    <tr th:each="el : ${oneProject.toggles}" th:if="${oneProject.getToggles() != null}">
                        <td>
                            <div>
                                <i class="far fa-toggle-on">
                                    <div th:text="${el}"></div>
                                </i>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="text-left">
                                <i>
                                    <a th:href="${el.link}" target=»_blank» th:text="${el.link}"></a>
                                </i>
                            </div>
                            <form th:action="@{'/toggle/' + ${oneProject.id} + '/' + ${el.id} + '/edit'}" method="post">
                                <label>link</label>
                                <input name="link" placeholder=" link">
                                <button type="submit">Add Group</button>
                            </form>
                        </td>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>

</main>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>